@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  font-family: 'Baloo Da', cursive;
  margin: 30px;
}
